#main{
  display: inline-block;
  background-color: #000000;
  padding: 50px;
}

#second{
  display: inline-block;
  background-color: #FFFFFF;
  padding: 50px;
}

#third{
  display: inline-block;
  background-color: #000000;
  padding: 50px;
}

#fourth{
  display: inline-block;
  background-color: #FFFFFF;
  padding: 50px;
}

#last{
  display: inline-block;
  background-color: #000000;
  padding: 50px;
}

h1{
  color: #FFFFFF;
  font-size: 75px;
  font-family: Verdana;
  text-align: center;
}

h2{
  color: #FFFFFF;
  font-size: 75px;
  font-family: Verdana;
  text-align: center;
}

.barspacer{
  widows: 100%;
}

#leftBar{
  position: relative;
  align-items: center;
  display: inline-block;
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
  padding-left:0px;
}

#hours:after, #minutes:after{
  content:":";
  padding-left: 15px;
}
